extends base

block content
   main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Forgot Your Password?
      form.form.form-forgot-password
        .form__group
            label.form__label(for='email') Email address
            input#email.email.form__input(type='email', placeholder='you@example.com', required)
        .form__group
            p.text__reguler Please fill in the email that you used to register. You will be sent an email with instructions on how to reset your password.

            button.btn.btn--green.btn-email Send Email