extends base

block content
   main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Your Password
      form.form.form-reset-password
        .form__group
            label.form__label(for='password') Password
            input#password.password.form__input(type='password', required)

        .form__group
            label.form__label(for='password') Confrim Password
            input#passwordConfirm.password__Confirm.form__input(type='password', required)
        .form__group
         
            button.btn.btn--green.btn-email#resetBtn(data-usertoken=`${token}`) Reset Password